.App {
  text-align: center;
}

.data-display {
  margin: 0 50px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "arrow dec ex"
}

.data-display button {
  width: 200px;
  margin: 0 auto;
}

.arrow {
  grid-area: arrow;
}

.funDec {
  grid-area: dec;
}

.funEx {
  grid-area: ex;
}